input[type="radio"] {   
    margin-top: 15px;
  }

#financialDiv {
    padding-left: 49px;
}

#partimeDiv {
    padding-left: 66px;
}

#jobDescription {
    margin-left: 8px;
    width: 183px;
    height: 250px;
}